.react-calendar__navigation{
    color: black;
    background-color: black;
}
.react-calendar {
    border: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
/* .react-calendar__navigation button:hover {
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 0, 0); 
} */


.react-calendar button:hover {
    background-color: black !important;
    color: initial !important;
}

.react-calendar button:hover {
    background-color: black !important;
    color: initial !important;
}

.react-calendar__navigation :not(:disabled) {
    background-color: black !important;
    color: initial !important;
}
.react-calendar{
    color: black !important;
}
.react-calendar__month-view__days__day--weekend {
    color: rgb(255, 0, 0) !important; 
    font-weight: bold; 
}
.react-calendar__month-view__days__day {
    color: rgb(0, 0, 0) ; 
    font-weight: bold; 
}
.react-calendar__tile {
    color: black !important;
}